/* header styles */

.nav_link {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #3C3B3D;
}

.header_btn_first {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #0A6647;
    border: none;
    background-color: inherit;
    margin-right: 24px;
}

.header_btn_first:last-child {
    margin-right: 0;
}

.header_btn_second {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF ;
    border: 2px solid #0A6647;
    border-radius: 4px;
    background-color: #0A6647;
    padding: 10px 18px;
}

/* first step styles */

.first_step {
    background-image: url(/images/first_step.jpg);
}

.first_step_title {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: #124E3B;
}

.first_step_text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #3C3B3D;
}

.first_step_btn {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.88px;
    text-align: left;
    color: #0A0A0A;
    border-radius: 4px;
    background-color:  #F2CDCE;
    border: none;
    padding: 3px 115px;
}

/* fast track styles */

.fast_track_title {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 700;
    line-height: 55.88px;
    text-align: center;
    color: #3C3B3D;
}

.fast_track_sub_text {
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    line-height: 34.08px;
    text-align: center;
    color: #3C3B3D;    
}

.fast_track_sub_title {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 400;
    line-height: 55.88px;
    text-align: center;
    color: #3C3B3D;
}

.fast_track_text {
    font-family: Roboto;
    font-size: 23px;
    font-weight: 300;
    line-height: 34.08px;
    text-align: center;
    color: #3C3B3D;
}







